.episode-display {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }

  .flex-container {
    display: flex;
    align-items: center;
  }
  
  .side-by-side {
    display: flex;
    margin-bottom: 10px; 
  }
  
  .pd-image {
    width: 200px; 
    height: 200px;
  }
  
  .episode-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding-left: 20%;
    padding-right: 20%;
 }
  
  .audio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }

.text-in {
    color: antiquewhite;
    padding-top: 10%;
}

.episode-on-pd{
    padding-top: 10%;
}

.ep-name {
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
}

.ep-description {
  color: aliceblue;
}
.rating {
  color: aliceblue;
}

.rate-text {
  color: #ffee13;
  font-weight: bold;
}

.existing-rating {
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

.starrr {
  color: #ffee13;
}
  