.hero {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 3rem;
    padding-right: 9rem;
    padding-left: 15rem;
	color: white;
}

body, html {
    margin: 0;
}
  
.hero-container {
   align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.hero-intro{
    color: #ffee13;
   justify-content: center;
}

.hero-image{
    width:100px;
    height:100px;
    border-radius: 100%;
}

.heading {
    font-size: 40px;
}

.tagline {
  font-size: 10px;
  color: aliceblue;
}


  