.podcast-display {
    display: flex;
    padding-left: 10%;
    align-items: center; 
    gap: 10px; 
  }

.pd-image{
    height: 10%;
    width: 10%;
    padding-left: 10%;
    padding-right: 10%;
	padding-left: 10%;
}

.pd-details {
    color: aliceblue;
    display: flex;
    flex-direction: column;

  }

.episode-on-pd{
    padding-left: 10%;
}

.pd-name{
    font-size: 20px;
    font-weight: bold;
    color: #ffee13;
}

.episode-header{
    font-size:20px;
    color: #ffee13;
}

.episodes {
    padding-left: 10%;
}